<%- include("../partials/adminheader.ejs") %>

<!-- Sidebar Start -->
<%- include("./menu/sidebar.ejs") %>
<!-- Sidebar End -->

<!-- Content Start -->
<div class="content">
  <!-- Navbar Start -->
  <%- include("./menu/navbar.ejs") %>

  <section
    class="hero-wrap hero-wrap-2 mt-3"
    style="background-image: url('<%= baseURL %>/images/bg_2.jpg')"
  >
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
      >
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Manage Events/News</h1>
          <p class="breadcrumbs">
            <span class="mr-2"
              ><a href="/admin/dashboard"
                >Dashboard <i class="ion-ios-arrow-forward"></i></a
            ></span>
            /
            <span>Events</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Manage Event Table Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0">Manage Events / News</h5>
        <a href="/admin/add-event" class="btn btn-primary btn-sm"
          >Add New Event</a
        >
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-primary text-center">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Event Date</th>
              <th>Author</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Static Example Rows -->
            <tr>
              <td>1</td>
              <td>Inter Classes League</td>
              <td>2025-07-01</td>
              <td>Admin</td>
              <td>
                <a
                  href="/admin/view-event"
                  class="btn btn-sm btn-info text-white"
                  >View</a
                >
                <a
                  href="/admin/edit-event"
                  class="btn btn-sm btn-warning text-white"
                  >Edit</a
                >
                <form
                  action="/admin/delete-event/1"
                  method="POST"
                  class="d-inline"
                  onsubmit="return confirm('Are you sure you want to delete this teacher?');"
                >
                  <button type="submit" class="btn btn-sm btn-danger">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Graduation Ceremony</td>
              <td>2025-10-15</td>
              <td>Admin</td>
              <td>
                <a
                  href="/admin/view-event"
                  class="btn btn-sm btn-info text-white"
                  >View</a
                >
                <a
                  href="/admin/edit-event"
                  class="btn btn-sm btn-warning text-white"
                  >Edit</a
                >

                <form
                  action="/admin/delete-event/2"
                  method="POST"
                  class="d-inline"
                  onsubmit="return confirm('Are you sure you want to delete this teacher?');"
                >
                  <button type="submit" class="btn btn-sm btn-danger">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <!-- End Example Rows -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Manage Event Table End -->

  <!-- Footer Start -->
  <%- include("../partials/adminfooter.ejs") %>
</div>
