<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Caldwell Junction, Duala, Bushrod Island, Monrovia - Liberia</span></li>
	                <li><a href="tel:07773929219"><span class="icon icon-phone"></span><span class="text">+231 777 3929 210</span></a></li>
	                <li><a href="mailto:info@salembakhit.com"><span class="icon icon-envelope"></span><span class="text">info@salembakhit.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/blog_2.jpeg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Parenting with Purpose: Islamic Guidance</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> March 27, 2025</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-5 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/blog_1.jpeg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Ramadan Reflections from Our Students</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> May 27, 2024</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2"> Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                <li><a href="<%= baseURL %>/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                <li><a href="<%= baseURL %>/staff"><span class="ion-ios-arrow-round-forward mr-2"></span>Projects</a></li>
                <li><a href="<%= baseURL %>/administrators"><span class="ion-ios-arrow-round-forward mr-2"></span>Programs</a></li>
                <li><a href="<%= baseURL %>/news"><span class="ion-ios-arrow-round-forward mr-2"></span>Media</a></li>
              
                <li><a href="<%= baseURL %>/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Subscribe Us!</h2>
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="form-control submit px-3">
                </div>
              </form>
            </div>
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
            	<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#05a30a"/></svg></div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const trigger = document.getElementById("megaMenuTrigger");
    const menu = document.getElementById("megaMenu");
    const container = document.getElementById("megaMenuContainer");

    let timeout;

    // Show menu on mouseenter
    container.addEventListener("mouseenter", () => {
      clearTimeout(timeout);
      menu.classList.add("show");
    });

    // Hide menu on mouseleave with a small delay
    container.addEventListener("mouseleave", () => {
      timeout = setTimeout(() => {
        menu.classList.remove("show");
      }, 5000); // 200ms delay improves UX
    });

    // Optional: Keep menu open on focus
    trigger.addEventListener("focus", () => menu.classList.add("show"));
    trigger.addEventListener("blur", () => {
      timeout = setTimeout(() => {
        menu.classList.remove("show");
      }, 5000);
    });
  });
</script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/license.min.js"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
  <script>
  AOS.init({
    duration: 800,
    easing: 'slide',
    once: true
  });
</script>



    
  </body>
</html>